{% extends 'base.html' %}

{% block title %}
Not Found
{% endblock %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="bg-light row justify-content-center align-items-center h-100">
        <div class="container text-center">
            <h1 class="display-1">404</h1>
            <p class="lead">Not Found</p>
            <p class="text-muted">The page you are looking for might have been removed, had its name changed, or is
                temporarily unavailable.</p>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}