{% extends 'base.html' %}

{% block title %}
Create
{% endblock %}

{% block page_content %}
<div class="row justify-content-center my-5">
    <div class="col-6">
        <h2 class="mb-5 mt-3 text-center">Create Eyeglasses</h2>
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="faceshape">Face Shape:</label>
                    <select class="form-select" name="faceshape" id="faceshape" aria-label="Default select example">
                        <option value="triangle" selected>Triangle</option>
                        <option value="heart">Heart</option>
                        <option value="oval">Oval</option>
                        <option value="round">Round</option>
                        <option value="square">Square</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="gender">Gender:</label>
                    <input type="text" id="gender" name="gender" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="link">Link:</label>
                    <input type="text" id="link" name="link" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture:</label>
                    <input class="form-control" type="file" id="picture" name="picture" required>
                </div>
            </div>
            <div class="text-end mt-5">
                <a href="/dashboard" class="btn btn-secondary col-4">Back to Dashboard</a>
                <button type="submit" class="btn btn-primary col-3">Submit</button>
            </div>
            {% if error %}
            <p class="alert alert-danger mt-3">
                {{ error }}
            </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}