{% extends 'base.html' %}

{% block title %}
Sign In
{% endblock %}

{% block page_content %}
<div class="row justify-content-center mt-5">
    <div class="col-4">
        <h3 class="mb-5 mt-3 text-center">Sign In</h3>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/register" class="btn btn-link">Register</a>
            </div>
            {% if error %}
            <p class="alert alert-danger mt-3">
                {{ error }}
            </p>
            {% endif %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary pb-1 mt-3" role="alert">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}