{% extends 'base.html' %}

{% block title %}
Edit
{% endblock %}

{% block page_content %}
<div class="row justify-content-center mt-5">
    <div class="col-6">
        <h2 class="mb-5 mt-3 text-center">Edit Eyeglasses</h2>
        {% if data %}
        <form action="/products/{{ data.id }}/update" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" value="{{ data.name }}" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" class="form-control" value="{{ data.brand }}" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" class="form-control" value="{{ data.price }}" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="gender">Gender:</label>
                    <input type="text" id="gender" name="gender" class="form-control" value="{{ data.gender }}" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="link">Link:</label>
                    <input type="text" id="link" name="link" class="form-control" value="{{ data.link }}" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture:</label>
                    <input class="form-control" type="file" id="picture" name="picture">
                </div>
            </div>
            <div class="text-end mt-5">
                <a href="/dashboard" class="btn btn-secondary col-4">Back to Dashboard</a>
                <button type="submit" class="btn btn-primary col-3">Submit</button>
            </div>
            {% if error %}
            <p class="text-danger">
                {{ error }}
            </p>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}